venv
scrappages/gallery/migrations
scrappages/profiles/migrations
scrappages/.vscode
scrappages/scrappages/__pycache__
scrappages/profiles/__pycache__
scrappages/gallery/__pycache__
scrappages/media
*/__pycache__/*